
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <div class="d-flex align-items-end">
      <%= image_tag "https://i.pinimg.com/originals/87/45/76/874576ebe081d0b3cc15c1a519dcb6c1.gif", id: "heartimage"%>
      <h1>HappyLittleOrgans</h1>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Organs", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://image.shutterstock.com/image-vector/healthy-biological-organ-smiling-lung-260nw-1239636475.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Bladder", "#", class: "dropdown-item" %>
          <%= link_to "Bone", "#", class: "dropdown-item" %>
          <%= link_to "Brain", "#", class: "dropdown-item" %>
          <%= link_to "Eyes", "#", class: "dropdown-item" %>
          <%= link_to "Intestine", "#", class: "dropdown-item" %>
          <%= link_to "Heart", "#", class: "dropdown-item" %>
          <%= link_to "Kidney", "#", class: "dropdown-item" %>
          <%= link_to "Liver", "#", class: "dropdown-item" %>
          <%= link_to "Lungs", "#", class: "dropdown-item" %>
          <%= link_to "Spleen", "#", class: "dropdown-item" %>
          <%= link_to "Stomach", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
