<div>
<h2 class="text-center">About</h1>
  <p class="text-center">Founded in <strong>Liver</strong>pool in 2021, our <strong>organ</strong>ization allows our users to full <strong>heart</strong>idly share organs with eachother.</p>
  <p class="text-center">Whether you need a liver for a crazy night out, a bone to be safe while skiing, or a bigger bladder, we have it!</p>
  <p></p>
<div class="d-flex justify-content-center">
<%= image_tag "https://images.squarespace-cdn.com/content/v1/561c0873e4b09b6b54235ad8/1513960647106-FXYJKAGX6M7H3A7Z7PBX/healthybladder.jpg", id: "bladderimage"%>
<%= image_tag "https://media.istockphoto.com/vectors/healthy-pancreas-and-happy-smiling-medicine-pill-characters-hold-vector-id1335499784?k=20&m=1335499784&s=612x612&w=0&h=BMEvXp7M1I3KAtBdaUX8rwjV26v76YIpqfFKhGXTdC4=", id: "pancreasimage"%>
<%= image_tag "https://images.assetsdelivery.com/compings_v2/aodkhrutpong/aodkhrutpong1912/aodkhrutpong191200491.jpg", id: "lungimage"%>
<%= image_tag "https://thumbs.dreamstime.com/b/happy-cute-liver-lightbulb-character-happy-cute-liver-lightbulb-character-vector-hand-drawing-flat-style-illustration-150467229.jpg", id: "liverimage"%>
<%= image_tag "https://previews.123rf.com/images/aodkhrutpong/aodkhrutpong1912/aodkhrutpong191200494/134761471-cute-and-funny-human-small-intestine-anatomy-icon-flat-cartoon-characters-style-bright-and-cute-isol.jpg", id: "intestineimage"%>
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZAq_-CD4n_IntYfwxUAgjCQvdOCnEwHVsTZt0etizYZg9OL0UCI3MsH_O4PCI27mF0Wg&usqp=CAU", id: "brainimage"%>
</div>
</div>
