<div>
  <h2 class="text-center">Here to help you get <strong>organ</strong>-ized!</h2>
  <br>
  <p class="text-center">Planning a big night out?... rent a liver!</p>
  <br>
  <p class="text-center">Got your heart broken?...rent a heart!</p>
  <br>
  <p class="text-center">Got a test and can't be bothered to study?...rent a brain!</p>
  <br>
  <h3 class="text-center">We will de<strong>liver</strong>!</h3>
  <div class="d-flex justify-content-center">
    <%= image_tag "https://images.squarespace-cdn.com/content/v1/561c0873e4b09b6b54235ad8/1513960647106-FXYJKAGX6M7H3A7Z7PBX/healthybladder.jpg", id: "bladderimage"%>
    <%= image_tag "https://media.istockphoto.com/vectors/healthy-pancreas-and-happy-smiling-medicine-pill-characters-hold-vector-id1335499784?k=20&m=1335499784&s=612x612&w=0&h=BMEvXp7M1I3KAtBdaUX8rwjV26v76YIpqfFKhGXTdC4=", id: "pancreasimage"%>
    <%= image_tag "https://images.assetsdelivery.com/compings_v2/aodkhrutpong/aodkhrutpong1912/aodkhrutpong191200491.jpg", id: "lungimage"%>
    <%= image_tag "https://thumbs.dreamstime.com/b/happy-cute-liver-lightbulb-character-happy-cute-liver-lightbulb-character-vector-hand-drawing-flat-style-illustration-150467229.jpg", id: "liverimage"%>
    <%= image_tag "https://previews.123rf.com/images/aodkhrutpong/aodkhrutpong1912/aodkhrutpong191200494/134761471-cute-and-funny-human-small-intestine-anatomy-icon-flat-cartoon-characters-style-bright-and-cute-isol.jpg", id: "intestineimage"%>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZAq_-CD4n_IntYfwxUAgjCQvdOCnEwHVsTZt0etizYZg9OL0UCI3MsH_O4PCI27mF0Wg&usqp=CAU", id: "brainimage"%>
  </div>
  <div class="cards my-5">
    <div>
      <div class="card-category-home shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80)">
        Search
      </div>
      <div class= "p-3">
        <p class= "text-center">Search in our website the organ that you desire</p>
      </div>
    </div>

    <div>
      <div class="card-category-home shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1596633607590-7156877ef734?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80)">
        Book
      </div>
      <div class= "p-3">
        <p class= "text-center">Chat directly to the owner if you need it :)</p>
      </div>
    </div>

    <div>
      <div class="card-category-home shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1541020230467-e33e4f96f7fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80)">
        Enjoy!
      </div>
      <div class= "p-3">
        <p class= "text-center">Enjoy your rented organ!</p>
      </div>
    </div>
</div>
</div>
