<h2>You have <%= @bookings.count %> organs booked.</h2>
<div class="d-flex flex-wrap organs-link">
  <% @bookings.each do |booking| %>
  <div class="m-3" style="width: 300px">
    <%= link_to organ_path(booking.organ) do %>
    <div class= "card-whole">
      <div class="card-category">
      <% if booking.organ.photo.attached? %>
        <%= cl_image_tag booking.organ.photo.key, crop: :fill %>
      <% end %>
      <div class= "div-border mt-4"></div>
      </div>
      <div class="card-bottom">
        <div class="card-body">
          <p><%= booking.organ.name %></p>
        </div>
        <div class="card-dates p-2">
        <% starts = booking.starts_on.strftime("%d/%m/%Y") %>
        <% ends = booking.ends_at.strftime("%d/%m/%Y") %>
        </div>
        <%= link_to  new_booking_review_path(booking) do %>
          <div class ="reviewbutton">
          <p class= "text-center">Review!</p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<br>

<h2>You have <%= @organs.count %> organs published.</h2>

<div class="d-flex flex-wrap organs-link">
  <% @organs.each do |organ| %>
    <div class="m-3" style="width: 300px">
      <div class= "card-whole">
        <%= link_to organ_path(organ) do %>
          <div class="card-category">
            <% if organ.photo.attached? %>
              <%= cl_image_tag organ.photo.key, crop: :fill %>
            <% end %>
            <div class= "div-border mt-4"></div>
          </div>
        <% end %>
          <div class= "card-bottom">
            <div class="card-body">
              <p><%= organ.name %></p>
            </div>
            <%= link_to organ_path(organ), method: :delete, data: { confirm: "Are you sure?" } do %>
              <div class ="deletebutton">
                  <i class="far fa-trash-alt trashcan"></i>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>