<div class="d-flex">
  <div class= "mx-5 d-flex align-items-center border shadow rounded card-category-show">
    <% if @organ.photo.attached? %>
      <%= cl_image_tag @organ.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="container">
      <div class= "d-flex justify-content-end">
        <%= link_to organs_path, class: "topbutton" do %>
          <i class="fas fa-long-arrow-alt-left"></i> All Organs
        <% end %>
            <% if current_user == @organ.user %>
              <%= link_to edit_organ_path(@organ), class: "topbutton" do %>
                <i class="fas fa-edit"></i> Edit
              <% end %>
            <% end %>
      </div>
    <div class= "my-5">
       <h1 class= "h2"><%= @organ.name %> </h1>
      <p><%= @organ.description %>
      <br>
      <%= @organ.price %>€ </p>
    </div>
    <div class= "d-flex my-5 align-middle">
      <%= link_to 'Book!', new_organ_booking_path(@organ), class: "bookbutton"%>
    </div>
  </div>
</div>

<div>
  <% @bookings.each do |booking| %>
    <% if booking.review %>
      <h3><%= booking.review.title %></h3>
      <p>Booking: <%= booking.starts_on %> - <%= booking.ends_at %></p>
      <p><%= booking.review.comment %></p>
    <% end %>
  <% end %>
</div>
