<div class="d-flex">
  <div class= "mx-5 d-flex align-items-center border shadow rounded card-category-show">
    <% if @organ.photo.attached? %>
      <%= cl_image_tag @organ.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="container">
    <h1 class="h2 my-5"><%= @organ.name %> </h1>
    <p class="h4 my-5"><%= @organ.description %> </p>
    <p class="h4"><%= @organ.price %>€ </p>

    <div class= "d-flex my-5 align-middle">
      <%= link_to 'All Organs', organs_path, class: "redbutton"%>
      <% if current_user == @organ.user %>
        <%= link_to 'Edit', edit_organ_path(@organ), class: "redbutton"%>
      <% end %>
      <%= link_to 'Book!', new_organ_booking_path(@organ), class: "bookbutton"%>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <% @bookings.each do |booking| %>
    <% if booking.review %>
      <%= booking.starts_on %>
      <%= booking.ends_at %>
      <%= booking.organ_id %>
      <%= booking.review.title %>
    <% end %>
    <% end %>
  </div>
</div>
